*{
    margin: 0;
    padding: 0;
    list-style:none;
    line-height: 30px;
    word-spacing: 1px;
    font-family: 'Raleway', sans-serif;
}

a {text-decoration: none;}
    
    p1{font-size: 17px;
    color: grey;}
    
    h1,h2,h4{font-weight: 500;
        padding:15px 0 15px 0;
        font-family: 'Raleway', sans-serif;
    }
    h3{font-weight: 400;
        padding:15px 0 15px 0;
    }
    h2{
        font-size: 22px;
        padding:15px 0 15px 0;
    }
    
    .first  {
        min-height: 95vh;
    width: 100%;
    
    background-image: linear-gradient(rgba(5,9,30,0.7),rgba(4,9,30,0.7)),url(images/banner1.jpg);
    
        background-position: center;
        background-size: cover;
        position: relative ;   
        }
    
        .header-top{
            display: flex;
            justify-content: space-between;
            padding:30px 25px;
        }
    .menu{padding-top: 5px;
            display: flex;}
     .menu ul {
         display: flex;   
         padding-top: 8px;
         }
    
     .menu ul li{ list-style: none;
        padding-right: 40px;
         }
     .menu ul li a{ 
    color: white;}

    .menu ul li a:hover{ border: 1px solid#492f2f;
    border-width: 0 0 1px 0;}

  
    
     .h-input{    font-size: 15px;
        border: none;
        background: #fff;
        padding: 10px 35px 10px 15px;
        border-radius: 30px;
        border: 1px solid #fff;
        list-style:none;
    }
    
    .menuu{
        height: 150px;
        background-color: black;
    }
    
     #menuu{
         display: block;
         padding-left: 20px;
     }
    
     /*ABout Us ____________________________________________________________________________ */
     .second{
         width: 79%; 
         height: 70vh;     
   
     }
     #content{ width: 100%;
        padding: 70px 150px;     
        display: flex;
    
     }
    #fam-1{
        width: 580px;
    }
    .second .content{
        width: 620px;
        height: 400px;
        color: black;
    }
    
    .about{
        background-color: white;
        padding: 20px 0 40px 20px
        ;
    }
    .mission-vision{
        display: flex;
    }
    .mission{
        width: 290px;
        height: 200px;
        padding: 0px 20px;
    }
    #paw{
        color: orangered;
        font-size: 30px;
    }
    
    #angellist{
        color: orangered;
        font-size: 30px;
    }
    
    .vision{
        width: 290px;
    }
    
    
/* Third_____________________________________ */
    
.third{
    width: 100%;
    background-color: #FFFAFA;
    height: 90vh;
  }
    
.third .top-content {
  text-align: center;
    padding-top: 50px;
        
}
    
.t-content{ width: 100%;
    padding: 70px 150px;     
    display: flex;}
    
.third .down-content{ 
    padding: 70px 150px 0px 150px;     
    display: flex;
    justify-content: space-between;
    height: 450px;
        
 }
.third .box{
     height: 440px ;
    width: 370px;
    background-color: white;
    border: 1px solid rgb(220,220,220);
    border-width: 0 1px 1px 1px;
}

.box:hover{box-shadow: 0 0 25px #DCDCDC;
    transition: 0.3s;
}

.third .img{width: 370px;}
.third .img:hover{cursor: pointer;}


.third span a h2:hover{
    cursor: pointer;
     color: orangered;
 }
 .third .desc{
     padding-left: 15px;
 }

.read p1{
    color: orangered;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
} 

/*customers
fourth __________________________________________________________________________ */

.fourth{padding-top: 40px;
    width: 100%;
    height: 70vh;
  }
.f-content{
    width: 79%;
    height: 350px;
    padding: 70px 150px;     
    display: flex;
    justify-content: space-between;
}
.l-block{
    padding-top: 25px;
}

.cus,.sat{
    display: flex;
    font-size: 25px;
    padding-right: 140px;
}
#cus,#sat{padding-left: 15px;}

#logo{
    color:#002D62;
    font-size: 30px;
}
.p2{
    font-size: 30px;

}
.cus-sat{
    display: flex;
}

.mario,.petey{display: flex;
padding-bottom: 30px;
}
blockquote{padding-left: 15px;
color: grey;}
#test{border-radius: 50%;}

.m,.p{color: #002D62; padding-left: 15px;}


/* fifth______________________ */
/* Dog___________ */


.fifth{
    width: 100%;
    height: 75vh;
  }

  .f5-content{ width:98% ; 
    height: 400px;   
    display: flex;
    padding: 70px 10px;     
    display: flex;
}
#f5-content{
    display: flex;
    width: 90%;
    height: 450px;
    padding-left: 160px;
}

.boxx{
    background-color: white;
    height: 450px;
    width: 400px;
    padding-left: 30px;
}
.d-boxx{
    background-color: white;
    height: 450px;
    width: 300px;
}

.f-dog{padding-left: 80px;}
#f-logo{font-size: 25px;padding-bottom: 20px;
color: orangered;}

/* sixthhhhhhhhhhhh */
.sixth{
    width: 79%;
    height: 95vh;
  }
    
.sixth .top-contentt {padding-left: 250px;
  text-align: center;
  padding-top: 0;
        
}
    
.down-contentt{ 
    width: 99%;
    padding: 70px 150px 0px 150px;     
    display: flex;
    justify-content: space-between;
    height: 500px;
 }
 .box-s{
    height: 380px ;
   width: 370px;
   background-color: white;
   border: 1px solid rgb(220,220,220);
   border-width: 0 1px 1px 1px;
}
.box{
     height: 420px ;
    width: 370px;
    background-color: white;
    border: 1px solid rgb(220,220,220);
    border-width: 0 1px 1px 1px;
}


.box:hover{box-shadow: 0 0 25px #DCDCDC;
    transition: 0.3s;
}

.img{width: 370px;}
.img:hover{cursor: pointer;}



 .desc{
     padding-left: 15px;
 }



.date {
    font-size: 16px;
    margin-top: 0;
    font-style: italic;
    font-weight: 500;
    padding-left: 250px;
    text-align: right;
    
}

.readd {
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
}
.sixth span a h2:hover{color: black;}






/* last------------------------------------------- */

.last{width: 1450px;
    height: 480px;
 background-color: black;
}
#last{  width: 79%;
    height: 250px;
    padding: 70px 150px;     

}

.lcontent{display: flex;
    color: white;

}

.lbox1,.lbox4{
    padding: 0%;
    width: 390px;
    height: 290px;
    background-color: black;
    border: 1px solid#696969;
    border-width: 0 0 1px 0;
   
}

.lbox2,.lbox3{
    padding: 0%;
    width: 180px;
    height: 290px;
    background-color: black;
    border: 1px solid#696969;
    border-width: 0 0 1px 0;
    
}

.lbox1 span{display: flex;
    cursor: pointer;
    padding-top: 30px;
}
.lbox1 span:hover{color: orangered;}
.care{padding-left: 10px;}
#care{font-size: 26px;
color: orangered;}

.lbox2 ul li a { color: grey;}
.lbox3 ul li a { color: grey;}

.lbox2 ul li a:hover { color: orangered;}
.lbox3 ul li a:hover { color: orangered;}

.entry{
    width: 320px;
    display: flex;
    border-radius: 5px;
    padding: 10px 0 20px 0;
}
.e-m{width: 250px;
height: 40px; padding-left: 10px;}

.plane{width: 80px;
background-color: orangered;
color: white;
font-size: 20px;
border-radius: 5px;
height: 46px}